{% extends "base-backoffice.html.twig" %}

{% block title %}
    Candidat session - Numericall
{% endblock %}

{% block body %}


{# Tout afficher dans un tableau html ??
 Sinon, faire comme sur la page FAQ de Joshua,
 info de session clikable et ca déroule les candidats#}
    <h1>Liste réunion et candidats</h1>
    {#
        On parcours chaque session
        On affiche d'abord ses informations
        Puis on liste en dessous les candidats
    #}
    {% for session in sessions %}
        <p>
            <b>id session : </b>{{ session.id }}
            <b>Campus : </b>{{ session.campus }}
            <b>Financeur : </b>{{ session.financer }}
            <b>Date Réunion : </b> {{ session.dateReunion|date('d/m/Y H:m') }}
            <b>Début de la session Session : </b> {{ session.dateSession|date('d/m/Y') }}
        </p>

        {#
            on parcours le tableau contenant info sur les candidats
            si la cléfs de ce tableau correspond a l'id de la réunion
            on parcours les valeurs du tableau contenant les infos sur les candidats
            et on affiche cette val (cf :
                    $tabApplicant[$infosession->getId()][$j] = $applicant;)
        #}
        {% for key, value in applicants %}
            {% if key == session.id %}
                {# Faire le rendu dans un tableau html plutot qu'une liste ?? #}
            <ul>
                {% for val in value %}
                    <li>
                        {{ val.firstName }} {{ val.lastName }} {{ val.phoneNumber }} {{ val.email }}
                        <a href="/uploads/{{ val.resume }}">Visualiser le CV</a>
                        <a href="/uploads/{{ val.coverLetter }}">Visualiser la lettre de motivation</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{#
<a href='/uploads/f285c6ae3c7fce10139944e1173a7be0.pdf'>
<a href="/uploads/d76a84c326db344e5a1ea6b0e7c9bfec.pdf">Visualiser le CV</a>


#}