{% extends "base-backoffice.html.twig" %}


{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/css/create-reunion.css">
{% endblock %}

{% block title %}
    Créer Réunion - Numericall
{% endblock %}

{% block body %}
    {% if submit is defined %}
        <div class="alert alert-success" role="alert">
            <p>
            Réunion et session crées<br>
            Invitation des candidats a remplir le formulaire envoyé par mail
            </p>
        </div>
    {% else %}
        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Liste des candidats en attente pour le campus de {{ campus }}</h2>
                    <table class="table table-bordered table-light">
                        <thead>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                        </thead>
                        <tbody>
                            {% set myVal = 0 %}
                            {% for array in waitinglist %}
                            <tr>
                                {% set myVal = loop.length %}
                                <td>{{ array.firstname }}</td>
                                <td> {{ array.lastname }}</td>
                                <td>{{ array.email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-12 col-md-6">
                    <h2>Formulaire création de réunion</h2>
                    <p>Nombre de candidat en attente : {{ myVal }}</p>

                    {% form_theme formCreateReunion 'bootstrap_4_layout.html.twig' %}

                    {{ form(formCreateReunion) }}

  {#
                    {{ form_start(formCreateReunion, {'attr': {'class': 'form-group'}}) }}

                    <div class="form-group">
                        {{ form_widget(formCreateReunion.place,{'attr': {
                            'class': 'form-control',
                            'placeholder': 'Adresse de la réunion'
                            }})
                        }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(formCreateReunion.financer,{'attr': {
                            'class': 'form-control',
                            'placeholder': 'Financeur'
                            }})
                        }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(formCreateReunion.dateSession,{'attr': {
                            'class': 'form-control',
                            }})
                        }}
                    </div>

                    <div class="form-group">
                        {{ form_widget(formCreateReunion.dateReunion,{'attr': {
                            'class': 'form-control',
                            }})
                        }}
                    </div>

                    {{ form_widget(formCreateReunion.save, {'attr': {'class': 'btn btn-secondary btn-block'}}) }}

                    {{ form_end(formCreateReunion) }}
  #}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}