{% extends "base-actu.html.twig" %}

{% block title %}
    Actualités 05/01/17 - Numericall
{% endblock %}

{% block stylesheets %}
    <!-- ma feuille de style -->
    <link rel="stylesheet" href="/assets/css/actu-articles-style.css">
{% endblock %}

{% block body1 %}
    <!-- titre de l'article en tête de page -->
    <div class=" container-fluid" id="title1">
        <div class="row">
            <div class="col-12"><h1>{{ actu.title }}</h1></div>
        </div>
    </div>
{% endblock %}

{% block body2 %}
    <section class="col-lg-9" id="articles">

        <!-- liens article suivant ou précédant -->
        <div class="container">
            <div class="row justify-content-between previous-next-border">
                    <div class="previous">
                    {% if precActu is defined %}

                        <a href="{{ path('actu_by_id', {'id' : precActu.id}) }}"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Précédant article </a>
                        <div class="animate"></div>
                    {% endif %}
                    </div>

                    <div class=" next">
                        {% if nextActu is defined %}
                        <a href="{{ path('actu_by_id', {'id' : nextActu.id}) }}"> Article suivant <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                        <div class="animate"></div>
                        {% endif %}
                    </div>
            </div>
        </div>

        <!-- l'article -->
        <article class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a href="/uploads/img/actu/{{ actu.img }}">
                        <img src="/uploads/img/actu/{{ actu.img }}"/>
                    </a>
                </div>
                <div class="col-12">
                    <div class="title2">
                        <h2>{{ actu.title }}</h2>
                    </div>
                    <p>
                        {% if actu.content is defined %}
                            {{ actu.content }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </article>

        <span class="date">{{ actu.date|date('d/m/Y') }}</span>

    </section>
{% endblock %}