{#
    Tableau html généré et retourné par la requete ajax s'il y'a des candidats ayant la note minimale
#}

{% if candidats is defined %}
    <div class="table-responsive">
        <table class="table table-bordered table-light">
            <thead>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Note</th>
            </thead>
            <tbody>
            {% for candidat in candidats %}
                <tr>
                    <td style="text-align: center;">{{ candidat.firstName }}</td>
                    <td style="text-align: center;">{{ candidat.lastName }}</td>
                    <td style="text-align: center;">{{ candidat.email }}</td>
                    <td style="text-align: center;">{{ candidat.phoneNumber }}</td>
                    <td style="text-align: center;">{{ candidat.note }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p>Aucun candidat ne correspond à la recherche</p>
{% endif %}
