{% extends "base-backoffice.html.twig" %}

{% block title %}
    Info session - NumericALL
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/candidatSessionStyle.css">
{% endblock %}

{% block body %}
<div class="container">

    {#
        On parcours chaque session
        On affiche d'abord ses informations
        Puis on liste en dessous les candidats
    #}

    <div id="ContainerSession" class="row justify-content-center">
        <h1 id="title" class="display-4">Liste des réunions et des candidats</h1>     
        {% set index = 0 %}
        {% for session in sessions %}

        <div class="col-12">
                    <p id="infosession-p">
                        <a class="infosession" data-toggle="collapse" href="#collapse{{ index }}" role="button" aria-expanded="false" aria-controls="collapse1">
                            <b>Campus : </b>{{ session.campus }}
                            <b>Financeur : </b>{{ session.financer }}
                            <b>Date Réunion : </b> {{ session.dateReunion|date('d/m/Y H:m') }}
                            <b>Début de la session Session : </b> {{ session.dateSession|date('d/m/Y') }}
                        </a>
                    </p>
           
                    {%  if applicants is defined %}
                    <div class="table-responsive" id="collapse{{ index }}">
                        <table id="table" class="table table-bordered table-light">
                            <thead >
                            <th scope="col">Photo</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">E-mail</th>
                            <th scope="col">CV</th>
                            <th scope="col">Lettre de motivation</th>
                            </thead>
                            <tbody>
                            {% for key, value in applicants %}
                                {% if key == session.id %}
                                    {% for val in value %}
                                        <tr>
                                            <td style="border-collapse: collapse;"><img src="/uploads/img/pic_candidat/{{ val.picture }}" height="100" width="90"/></td>
                                            <td class="pt-5">{{ val.firstName }}</td>
                                            <td class="pt-5">{{ val.lastName }}</td>
                                            <td class="pt-5">{{ val.phoneNumber }}</td>
                                            <td class="pt-5">{{ val.email }}</td>
                                            <td class="pt-5"><a href="/uploads/cv/{{ val.resume }}">CV</a></td>
                                            <td class="pt-5"><a href="/uploads/lm/{{ val.coverLetter }}">Lettre de motivation</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>  
        {#
            on parcours le tableau contenant info sur les candidats
            si la cléfs de ce tableau correspond a l'id de la réunion
            on parcours les valeurs du tableau contenant les infos sur les candidats
            et on affiche cette val (cf :
            $tabApplicant[$infosession->getId()][$j] = $applicant;)
        #}
    {% set index = index + 1 %}
    {% endfor %}
    </div>
</div>

{% endblock %}