<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <!-- normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <!-- feuille de style bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">

    <!-- font awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- feuille de style pour base-backoffice -->
    <link rel="stylesheet" href="/assets/css/base-back-office-style.css">

    {% block stylesheets %}{% endblock %}
    {% block redirectionPage %}{% endblock %}
</head>
<body>
    <!-- HEADER - NAV MENU -->
    <header class="container-fluid justify-content-center menu">
        <div class="row ">

            <div class="col-6 col-lg-12 mini-menu-contain recrut">
                <a id="btn-h2-recrut" class="btn-h2" data-toggle="collapse" href="#collapseRecrut" role="button" aria-expanded="false" aria-controls="collapseRecrut">
                    <h2>RECRUTEMENT</h2>
                </a>
                <div class="collapse" id="collapseRecrut">
                    <ul>
                        <a class="creer-reunion" href="{{ path('select_list') }}">
                            <li>Créer une réunion</li>
                        </a>
                        <a class="note-candidat" href="{{ path('note_page') }}">
                            <li>Note candidat</li>
                        </a>
                        <a class="info-session" href="{{ path('session_info') }}">
                            <li>Info session</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-6 col-lg-12 mini-menu-contain add-content">
                <a id="btn-h2-content" class="btn-h2" data-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
                    <h2>AJOUT DE CONTENUS</h2>
                </a>
                <div class="collapse" id="collapseContent">
                    <ul>
                        <a class="add-actu" href="{{ path('create_actu') }}">
                            <li>Ajout d'article</li>
                        </a>
                        <a class="add-testimony" href="">
                            <li>Ajout de témoignages</li>
                        </a>
                        <a class="add-faq" href="">
                            <li>Ajout F.A.Q</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-6 col-lg-12 mini-menu-contain param-compt">
                <a id="btn-h2-compt" class="btn-h2" data-toggle="collapse" href="#collapseCompt" role="button" aria-expanded="false" aria-controls="collapseCompt">
                    <h2>PARAMETRE DU COMPTE</h2>
                </a>
                <div class="collapse" id="collapseCompt">
                    <ul>
                        <a class="change-mail" href="{{ path('change_email') }}">
                            <li>Changer Email</li>
                        </a>
                        <a class="change-password" href="{{ path('change_password') }}">
                            <li>Changer Mot de passe</li>
                        </a>
                    </ul>
                </div>
            </div>

            {% if is_granted('ROLE_SUPERADMIN') %}
            <div class="col-6 col-lg-12 mini-menu-contain gest-admin">
                <a id="btn-h2-amin" class="btn-h2" data-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseAdmin">
                <h2>GESTION ADMINISTRATEUR</h2>
                </a>
                <div class="collapse" id="collapseAdmin">
                    <ul>
                        <a class="create-admin" href="{{ path('create_user') }}">
                            <li>Créer un administrateur</li>
                        </a>
                        <a class="remove-admin" href="{{ path('delete_user') }}">
                            <li>Supprimer un administrateur</li>
                        </a>
                        <a class="change-role-admin" href="{{ path('change_role') }}">
                            <li>Changer le role d'un administrateur</li>
                        </a>
                    </ul>
                </div>
            </div>
            {% endif %}

        </div>
    </header>

    <div class="container-fluid">
        <div class="row justify-content-end">
            <a id="buton-deco" class="btn btn-danger" href="{{ path('logout') }}" role="button">Déconnexion</a>
        </div>
    </div>

    <main>
    {% block body %}
    {% endblock %}
    </main>

    <!-- script pour bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
